<!DOCTYPE HTML>
<html>
<head>
    {{!-- <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134953827-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134953827-1');
    </script> --}}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-134953827-1', 'auto');
ga('send', 'pageview');
//ga("send", "event", 'form', 'click');
</script>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <title>Mood</title>
</head>

<body>

    <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                <li><a class="active" href="home"><img src="https://img.icons8.com/material/24/000000/home-page.png"></a></li>
                <li><a href="profiles"><img src="https://img.icons8.com/material/24/000000/user.png"></a></li>
                <li><a href="overview"><img src="https://img.icons8.com/material/24/000000/combo-chart.png"></a></li>
                <li><a href="chats"><img src="https://img.icons8.com/material/24/000000/magazine.png"></a></li>
                <li><a href="groups"><img src="https://img.icons8.com/material/24/000000/groups.png"></a></li>    
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->
    <!-- Try just divs and left justify-->
    <section class="at_a_glance">
        <h2 class="title1">At A Glance</h2>
        <!--table-->
        <table>
        <tr class="post">
            <td>
                <img src="../images/Group 8.png">
            </td>
            <td>
                <p>"Today has been going really well so far, I went on a run!"</p>
            </td>
        </tr>
        <!--post 1-->

        <tr class="post">
            <td>
                <img src="../images/A6 Assets/expanded_size.png">
            </td>
            <td>
                <p id="test">Good Vibe of the Day: <b>Exercise</b></p>
            </td>
        </tr>
        </table>
        <!--post 2-->
    </section>

    <!--End of At A Glance-->

    <!--recent friend post json table-->
    <section class="recent_friend_post">
    <h2 class="title2">Recent Friend Post</h2>
        <!--table-->
    <table>
    <div>        
    {{#each friends}}
      <div>
        <tr class="post">
            <td>
                <img src={{img}}>
            </td>
            <td>
                <p>{{name}}      {{time}}<br>
                Mood: <i>{{mood}}</i><br>
                {{description}}</p>
            </td>
        </tr>
      </div>
    {{/each}}
    </div>
    </table>
    </section>
    <!--End of json table-->


</body>
</html>