<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/json.css">

    <title>Mood</title>
</head>

<body>

    <!--Begin of Header-->
    <header>
        <nav>        
            <ul class="navbar">
                <li><a class="active" href="home"><img src="../images/home-icon-silhouette.png"></a></li>
                <li><a href="profiles"><img src="../images/Group 8.png"></a></li>
                <li><a href="overview"><img src="../images/Path 3.png"></a></li>
                <li><a href="chats"><img src="../images/Group 6.png"></a></li>
                <li><a href="groups"><img src="../images/Group 2.png"></a></li>    
            </ul> 
        </nav>   
        <!--Nav Bar-->
    </header>  
    <!-- End of Header-->
    <!-- Try just divs and left justify-->
    <section class="at_a_glance">
        <h2 class="title1">At A Glance</h2>
        <!--table-->
        <table>
        <tr>
            <td>
                <img src="../images/Group.png">
            </td>
            <td>
                <p>"Today has been going really well so far, I went on a run..."</p>
            </td>
        </tr>
        <!--post 1-->

        <tr>
            <td>
                <img src="../images/Combined Shape.png">
            </td>
            <td>
                <p>Good Vibe of the Day: <u>Gym</u></p>
            </td>
        </tr>
        </table>
        <!--post 2-->
    </section>

    <!--End of At A Glance-->

    <!--recent friend post json table-->
    <section class="recent_friend_post">
    <h2 class="title2">Recent Friend Post</h2>
        <!--table-->
    <table>
    <div>        
    {{#each friends}}
      <div class="json">
        <tr>
            <td>
                <img src={{img}}>
            </td>
            <td>
                <p>{{name}}      {{time}}<br>
                Mood: <i>{{mood}}</i><br>
                {{description}}</p>
            </td>
        </tr>
      </div>
    {{/each}}
    </div>
    </table>
    </section>
    <!--End of json table-->

</body>
</html>